.icon-container
{
cursor: pointer;
}
.hidden{
  display: none;
}

.preview-Mode{
  background-color: #e1e1e1;
  padding: 5px;
  margin: 5px;
}
.field-preview {
  background-color: #11a5b9;
  padding: 10px;
  margin-bottom: 6px;
}
